p{ 
    color:#2B0A85;
}
.container{
    background-color: aqua;
    height: 600px;
    background-image: url(../QDO40f0.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.box{
    width: 300px;
    height:auto;
    background-color: red;
    padding:30px;
    border: 4px solid black;
    border-radius: 20px;
    margin-top: 70px;

}