button{color:rgb(218, 22, 159);}
*{color:darkviolet;}
.para{
    color:brown;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-weight: 900;
    font-family: "BBH Bartle";
}
#head{color:#2B0A85;}
